.1
{
 
 text-align:center;
 left:400px;
 top:80px;	
 height:100px;
 width:50px;
 border:1px solid black;
}
.1 table
{
	align:center;

}
.1 
.2
{
	text-align: center;
	position:absolute;
	left:300px;
	top:80px;
}
input[type="text"]
{
border-radius:4px;
}
input[type="Date"]
{
	border-radius:4px;
}
input[type="number"]
{
	border-radius: 4px;
}
button
{
	border-radius:4px;
}
